<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ticketmaster.sampleintegration.demo">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:theme="@style/AppTheme"
      tools:replace="android:theme">

    <activity
        android:name=".TicketsSdkHostActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">
      <intent-filter>
        <category android:name="android.intent.category.LAUNCHER" />

        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>

    <activity
        android:name=".PurchaseActivity"
        android:exported="false"
        android:screenOrientation="portrait" />

    <activity
        android:name=".PrePurchaseActivity"
        android:exported="false"
        android:screenOrientation="portrait" />

    <!-- Activity that will be launched when requesting LoginIntent. If using SportXR, you don't need this -->
    <activity
        android:name="com.ticketmaster.authenticationsdk.internal.modernaccounts.presentation.ModernAccountsLoginScreen"
        android:exported="true"
        android:launchMode="singleTop"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- YOUR SCHEME will be provided in your app settings, copy it to this location -->
        <data android:scheme="[your scheme here]" />
      </intent-filter>
    </activity>

    <!-- ONLY NEEDED IF USING SPORTXR-->
    <activity
        android:name="com.ticketmaster.authenticationsdk.internal.sportxr.presentation.SportXRLoginScreen"
        android:exported="true"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <!-- YOUR SCHEME will be provided in your app settings, copy it to this location -->
        <data android:scheme="[your scheme here]" />
        <data android:host="login" />
      </intent-filter>
    </activity>
  </application>

</manifest>
